.vscode/launch.json
.vscode/tasks.json
payment-api/bin/Debug/net6.0/appsettings.Development.json
payment-api/bin/Debug/net6.0/appsettings.json
payment-api/bin/Debug/net6.0/Azure.Core.dll
payment-api/bin/Debug/net6.0/Azure.Identity.dll
payment-api/bin/Debug/net6.0/Humanizer.dll
payment-api/bin/Debug/net6.0/Microsoft.Bcl.AsyncInterfaces.dll
payment-api/bin/Debug/net6.0/Microsoft.Data.SqlClient.dll
payment-api/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Abstractions.dll
payment-api/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Design.dll
payment-api/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.dll
payment-api/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Relational.dll
payment-api/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.SqlServer.dll
payment-api/bin/Debug/net6.0/Microsoft.Extensions.Caching.Abstractions.dll
payment-api/bin/Debug/net6.0/Microsoft.Extensions.Caching.Memory.dll
payment-api/bin/Debug/net6.0/Microsoft.Extensions.Configuration.Abstractions.dll
payment-api/bin/Debug/net6.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
payment-api/bin/Debug/net6.0/Microsoft.Extensions.DependencyInjection.dll
payment-api/bin/Debug/net6.0/Microsoft.Extensions.DependencyModel.dll
payment-api/bin/Debug/net6.0/Microsoft.Extensions.Logging.Abstractions.dll
payment-api/bin/Debug/net6.0/Microsoft.Extensions.Logging.dll
payment-api/bin/Debug/net6.0/Microsoft.Extensions.Options.dll
payment-api/bin/Debug/net6.0/Microsoft.Extensions.Primitives.dll
payment-api/bin/Debug/net6.0/Microsoft.Identity.Client.dll
payment-api/bin/Debug/net6.0/Microsoft.Identity.Client.Extensions.Msal.dll
payment-api/bin/Debug/net6.0/Microsoft.IdentityModel.Abstractions.dll
payment-api/bin/Debug/net6.0/Microsoft.IdentityModel.JsonWebTokens.dll
payment-api/bin/Debug/net6.0/Microsoft.IdentityModel.Logging.dll
payment-api/bin/Debug/net6.0/Microsoft.IdentityModel.Protocols.dll
payment-api/bin/Debug/net6.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
payment-api/bin/Debug/net6.0/Microsoft.IdentityModel.Tokens.dll
payment-api/bin/Debug/net6.0/Microsoft.OpenApi.dll
payment-api/bin/Debug/net6.0/Microsoft.SqlServer.Server.dll
payment-api/bin/Debug/net6.0/Microsoft.Win32.SystemEvents.dll
payment-api/bin/Debug/net6.0/Mono.TextTemplating.dll
payment-api/bin/Debug/net6.0/payment-api.deps.json
payment-api/bin/Debug/net6.0/payment-api.dll
payment-api/bin/Debug/net6.0/payment-api.exe
payment-api/bin/Debug/net6.0/payment-api.pdb
payment-api/bin/Debug/net6.0/payment-api.runtimeconfig.json
payment-api/bin/Debug/net6.0/Swashbuckle.AspNetCore.Swagger.dll
payment-api/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerGen.dll
payment-api/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerUI.dll
payment-api/bin/Debug/net6.0/System.CodeDom.dll
payment-api/bin/Debug/net6.0/System.Configuration.ConfigurationManager.dll
payment-api/bin/Debug/net6.0/System.Drawing.Common.dll
payment-api/bin/Debug/net6.0/System.IdentityModel.Tokens.Jwt.dll
payment-api/bin/Debug/net6.0/System.Memory.Data.dll
payment-api/bin/Debug/net6.0/System.Runtime.Caching.dll
payment-api/bin/Debug/net6.0/System.Security.Cryptography.ProtectedData.dll
payment-api/bin/Debug/net6.0/System.Security.Permissions.dll
payment-api/bin/Debug/net6.0/System.Text.Encodings.Web.dll
payment-api/bin/Debug/net6.0/System.Text.Json.dll
payment-api/bin/Debug/net6.0/System.Windows.Extensions.dll
payment-api/bin/Debug/net6.0/runtimes/browser/lib/net6.0/System.Text.Encodings.Web.dll
payment-api/bin/Debug/net6.0/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
payment-api/bin/Debug/net6.0/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
payment-api/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
payment-api/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
payment-api/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
payment-api/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
payment-api/bin/Debug/net6.0/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
payment-api/bin/Debug/net6.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
payment-api/bin/Debug/net6.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
payment-api/bin/Debug/net6.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
payment-api/bin/Debug/net6.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
payment-api/bin/Debug/net6.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
payment-api/obj/payment-api.csproj.EntityFrameworkCore.targets
payment-api/obj/payment-api.csproj.nuget.dgspec.json
payment-api/obj/payment-api.csproj.nuget.g.props
payment-api/obj/payment-api.csproj.nuget.g.targets
payment-api/obj/project.assets.json
payment-api/obj/project.nuget.cache
payment-api/obj/staticwebassets.pack.sentinel
payment-api/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
payment-api/obj/Debug/net6.0/apphost.exe
payment-api/obj/Debug/net6.0/payment-api.AssemblyInfo.cs
payment-api/obj/Debug/net6.0/payment-api.AssemblyInfoInputs.cache
payment-api/obj/Debug/net6.0/payment-api.assets.cache
payment-api/obj/Debug/net6.0/payment-api.csproj.AssemblyReference.cache
payment-api/obj/Debug/net6.0/payment-api.csproj.CopyComplete
payment-api/obj/Debug/net6.0/payment-api.csproj.CoreCompileInputs.cache
payment-api/obj/Debug/net6.0/payment-api.csproj.FileListAbsolute.txt
payment-api/obj/Debug/net6.0/payment-api.dll
payment-api/obj/Debug/net6.0/payment-api.GeneratedMSBuildEditorConfig.editorconfig
payment-api/obj/Debug/net6.0/payment-api.genruntimeconfig.cache
payment-api/obj/Debug/net6.0/payment-api.GlobalUsings.g.cs
payment-api/obj/Debug/net6.0/payment-api.MvcApplicationPartsAssemblyInfo.cache
payment-api/obj/Debug/net6.0/payment-api.MvcApplicationPartsAssemblyInfo.cs
payment-api/obj/Debug/net6.0/payment-api.pdb
payment-api/obj/Debug/net6.0/project.razor.json
payment-api/obj/Debug/net6.0/staticwebassets.build.json
payment-api/obj/Debug/net6.0/ref/payment-api.dll
payment-api/obj/Debug/net6.0/refint/payment-api.dll
